.title{font-size:40px}
#event{width:1200px; height:1500px;}
#event .status{float:left;  height:140px; margin: 0 100px; list-style: none;}
#event .status ul{width:1000px; padding: 50px 0px 50px 0px}
#event .status>ul>li{float:left; list-style: none;  font-size: 25px; } 
#event #event_content{width:1000px; height:300px; margin: 0 100px;}
#event #event_content ul li{float:left; list-style: none; margin-bottom: 30px;}
#event #event_content .img{position: relative; float:left; width:100%; height:300px; }
#event #event_content .event_text{position: absolute; margin-top:90px; z-index:1; float:left; width:1000px;text-align: center; }
#event #event_content .event_text span{font-weight: 700; font-style: italic; }
#event #event_content .event_text h1{margin-top:10px}

#event #event_content .event_text p{font-size:15px; margin-top:20px}
