
#magazine{width:1000px; height:1250px; margin: 0 100px;}
#magazine #line_one{float: left; width:100%; height: 300px; margin-top:80px;}
.first_mz{float:left;width:485px; height: inherit;}
.secon_mz{float:left; width:485px; height: inherit; padding-left:30px}
#magazine #line_other{float: left; width:100%; height: 300px; margin-top:35px}

