   /*리셋*/
   * {margin: 0; padding: 0;}
   /*전체레이아웃*/
   #wrap {text-align: center; font-size: 30px; color: black;}
   #header {height: 140px; line-height: 140px; background: #ffe1e4;}
   #banner {height: 170px; line-height: 170px; background-image:url("패턴 - 복사본.jpg")}
   #content {  line-height: inherit; }
   #footer {height: 220px; line-height: 220px; background: #d6ebfd;}
   .contaniner {width: 1200px; margin: 0 auto; height: inherit; background: white;}
   #mypage{width:1000px; height:2000px; background-color:white; margin: 0 auto;}
   #mypage_menu_tab>div{
       float:left; text-align: center; line-height: 60px; 
       margin-top:80px; margin-bottom:50px; height:60px; 
       width:198px; background-color: lawngreen;
       font-size: 18px;
   }
    /*마이페이지 info*/
    #mypage_info{width:100%; height:130px; border-top:1px solid #bebbb6; border-bottom: 1px solid #bebbb6; box-sizing: border-box;}
    #mypage_info div{float:left; height:inherit; }
    #mypage_info .user_info{display:inline-block; }
    #mypage_info .detail_info2>a{font-style: italic; font-weight: 700;}
    #mypage_info .user_info .user_photo{border:none;}
    #mypage_info .user_info .detail_tb{width:100%; height:80%}
    #mypage_info .user_info .detail_tb .d1{font-weight:700; text-align: left; }
    #mypage_info .user_info .detail_tb .d1#usergrade{font-size:10px}
    #mypage_info .user_info .detail_tb .d1>td{padding-top:30px; padding-bottom: 0;}
    #mypage_info .user_info .detail_tb .d2 a{
        float:left;padding:5px 15px; border: 1px solid #bebbb6; border-radius: 50px; font-size:15px;
    }
    /*적립포인트 할인쿠폰 위시리스트 바로보기*/
    #mypage_info .detail_info2{width:150px; height:130px; border-right:1px solid #bebbb6;}
    #mypage_info div .info_th{padding-top:25px; }
    #mypage_info div p{line-height: 43px;}
    /*선택되어있을때*/
   #mypage_menu_tab>a.active{background:white; color:#333333; transform: translateY(-5px);}
   #mp_con1{text-align:left; width:100%; }
   #mp_con1>p{padding-left:20px; padding-bottom:10px; border-bottom:1px solid black;}

   /*마이페이지 tab메뉴*/
   #mypage_tab{width:100%; height:195px; margin: 0 auto;}
   #mypage_menu_tab{width:100%; height:195px;}
   #mypage_menu_tab>a{
       cursor: pointer;
       border-top-left-radius: 5px;
       border-top-right-radius: 5px;
       border:1px solid #939393;
       float:left; text-align: center; line-height: 60px; 
       margin-top:80px; 
       margin-bottom:50px; height:60px; 
       width:200px; background-color: #bebbb6;
       box-sizing: border-box;
       font-size: 18px;
       color:white;
       border-bottom:none;
   }
   #mypage_menu_tab>a:hover:not(.active){
       transform: translateY(-5px);
       display: inline-block;
       border-color:#ac8b5a;
       background-color: #d6ae71;
       color:white
   }
   /*테이블*/
   #mypage_table{width:1000px; height:auto; font-size: 18px; color:#333333; text-align:center}
   #mypage_table th{border-bottom:2px solid #bebebe;  border-top: 1px solid #bebebe; padding: 10px 0;}
   #mypage_table td{border-bottom:1px solid #bebebe; height: 80px;}

   /*버튼*/
   .btn_review{background: white; border: 1px solid #bebebe; border-radius: 5px; padding: 10px 15px}
   .btn_review:hover{
       cursor: pointer;
       border-color:#ac8b5a;
       background: #d6ae71;
       color:white;
   }


   /* 마이페이지 배송 */
   .outer{background-color: white; }
   .outer{width:1000px;height:320px;}
   ul>li{list-style:none;float: left;}
   .outer>div{height:44px;}
   .mypage-outer{width:998px; height:358px;}
   .myorder1{background-color: white;}
   .order-state{ margin-top: 30px;float:left;padding-right: 20px;display: table;
   width:180px;height:212px;text-align: center;margin-left: 50px;padding-top: 25px;}
   .order{background: #bebbb6;}
   .l{width:117px;height:234px; font-size: 18px;text-align: center;}
   .t{width:15;height:235px;}
   .t>span{text-align: center;vertical-align: middle;line-height: 230px;color:rgb(94, 94, 94)}
   .l>img{margin-top: 40px;}
   .myorder>div{ float: left;}
   .order-outer-wrap{width:1000px;height: 302px;border:1px solid #bebebe;}
   .order-outer{background-color: white;width:999px;height:300px;
   box-sizing: border-box; border: 30px solid rgb(243, 243, 243);
   display:inline-block;}
   .order-state>p{font-size: 21px;}.order-state>span{font-size: 16px;}
    
  /*날짜 조회*/
  .inquiry-box{width: 1000px;height: 100px;display: inline-block;margin: auto;text-align: center; 
                border:1px solid #bebebe;}
  .inquiry-box *{display:inline-block}
  .inquiry-pad{height:60px;margin: auto;margin-top: 20px;}
  .btn-group{width: 300px;height: 60px;display: inline-block; margin: auto;white-space:nowrap; }
  .btn-group>button{width: 100px;height: 60px;margin-right:-11px;background: white;
                    border:none;border: 1px solid #bebebe;border-radius: 3px;}
  .input-group{display:inline-block;}
  .btn-gim{width: 100px;height: 53px;}
  .btn-group>button:hover{
    cursor: pointer;
    border-color: #bebebe;
    background:rgb(158,158,158);
    color:white;
    }
   .btn-gim{background: white;color:#333333;border:none;border:1px solid #bebebe;
            border-radius: 3px;}
   .btn-gim:hover{
    cursor: pointer;
    border-color: #bebebe;
    background:rgb(158,158,158);
    color:white;
   } 

  [type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
    
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  label{font-size: 24px;}
  input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 200px;
    height: 60px;
    font-size: 15px;
  }  
  
/*  주문 내역 */
  .order-list>p{font-size: 32px;}
  /*테이블*/
  #mypage_table{width:1000px; height:auto; font-size: 18px; color:#333333; text-align:center}
  #mypage_table th{border-bottom:2px solid #bebebe;  border-top: 1px solid #bebebe; padding: 10px 0;}
  #mypage_table td{border-bottom:1px solid #bebebe; padding: 30px  0;}
  
  /*페이징 바*/
  .fagingarea{width:1000px;height: 340px;}
  .fagingvar{width: 1000px;height:35px;line-height: 18;}
     

