   /*리셋*/
   * {margin: 0; padding: 0;}
   /*전체레이아웃*/
   #wrap {text-align: center; font-size: 30px; color: black;}
   #header {height: 140px; line-height: 140px; background: #ffe1e4;}
   #banner {height: 170px; line-height: 170px; background-image:url("패턴 - 복사본.jpg")}
   #content {  line-height: inherit; }
   #footer {height: 220px; line-height: 220px; background: #d6ebfd;}
   .contaniner {width: 1200px; margin: 0 auto; height: inherit; background: white;}
   #mypage{width:1000px; height:2000px; background-color:white; margin: 0 auto;}
   #mypage_menu_tab>div{
       float:left; text-align: center; line-height: 60px; 
       margin-top:80px; margin-bottom:50px; height:60px; 
       width:198px; background-color: lawngreen;
       font-size: 18px;
   }
    /*마이페이지 info*/
    #mypage_info{width:100%; height:130px; border-top:1px solid #bebbb6; border-bottom: 1px solid #bebbb6; box-sizing: border-box;}
    #mypage_info div{float:left; height:inherit; }
    #mypage_info .user_info{display:inline-block; }
    #mypage_info .detail_info2>a{font-style: italic; font-weight: 700;}
    #mypage_info .user_info .user_photo{border:none;}
    #mypage_info .user_info .detail_tb{width:100%; height:80%}
    #mypage_info .user_info .detail_tb .d1{font-weight:700; text-align: left; }
    #mypage_info .user_info .detail_tb .d1#usergrade{font-size:10px}
    #mypage_info .user_info .detail_tb .d1>td{padding-top:30px; padding-bottom: 0;}
    #mypage_info .user_info .detail_tb .d2 a{
        float:left;padding:5px 15px; border: 1px solid #bebbb6; border-radius: 50px; font-size:15px;
    }
    /*적립포인트 할인쿠폰 위시리스트 바로보기*/
    #mypage_info .detail_info2{width:150px; height:130px; border-right:1px solid #bebbb6;}
    #mypage_info div .info_th{padding-top:25px; }
    #mypage_info div p{line-height: 43px;}
    /*선택되어있을때*/
   #mypage_menu_tab>a.active{background:white; color:#333333; transform: translateY(-5px);}
   #mp_con1{text-align:left; width:100%; }
   #mp_con1>p{padding-left:20px; padding-bottom:10px; border-bottom:1px solid black;}

   /*마이페이지 tab메뉴*/
   #mypage_tab{width:100%; height:195px; margin: 0 auto;}
   #mypage_menu_tab{width:100%; height:195px;}
   #mypage_menu_tab>a{
       cursor: pointer;
       border-top-left-radius: 5px;
       border-top-right-radius: 5px;
       border:1px solid #939393;
       float:left; text-align: center; line-height: 60px; 
       margin-top:80px; 
       margin-bottom:50px; height:60px; 
       width:200px; background-color: #bebbb6;
       box-sizing: border-box;
       font-size: 18px;
       color:white;
       border-bottom:none;
   }
   #mypage_menu_tab>a:hover:not(.active){
       transform: translateY(-5px);
       display: inline-block;
       border-color:#ac8b5a;
       background-color: #d6ae71;
       color:white
   }
   /*테이블*/
   #mypage_table{width:1000px; height:auto; font-size: 18px; color:#333333; text-align:center}
   #mypage_table th{border-bottom:2px solid #bebebe;  border-top: 1px solid #bebebe; padding: 10px 0;}
   #mypage_table td{border-bottom:1px solid #bebebe; height: 80px;}

   /*버튼*/
   .btn_review{background: white; border: 1px solid #bebebe; border-radius: 5px; padding: 10px 15px}
   .btn_review:hover{
       cursor: pointer;
       border-color:#ac8b5a;
       background: #d6ae71;
       color:white;
   }


   /* 마이페이지 배송 */
   .outer{background-color: white; }
   .outer{width:1000px;height:320px;}
   ul>li{list-style:none;float: left;}
   .outer>div{height:44px;}
   .mypage-outer{width:998px; height:358px;}
   .order-outer-wrap{width:1000px;height: 302px;border:1px solid #bebebe;}
   .myorder1{background-color: white;}
   .order-state{ margin-top: 30px;float:left;padding-right: 20px;display: table;
   width:180px;height:212px;text-align: center;margin-left: 50px;padding-top: 25px;}
   .order{background: #bebbb6;}
   .l{width:117px;height:234px; font-size: 18px;text-align: center;}
   .t{width:15;height:235px;}
   .t>span{text-align: center;vertical-align: middle;line-height: 230px;color:rgb(94, 94, 94)}
   .l>img{margin-top: 40px;}
   .myorder>div{ float: left;}
   .order-outer{background-color: white;width:998px;height:300px;
   box-sizing: border-box; border: 30px solid rgb(243, 243, 243);
   display:inline-block;}
   .order-state>p{font-size: 21px;}
   .order-state>span{font-size: 16px;}
    
 
   /* 최근 주문 내역 */
   .rd-outer{background-color: white;width:1000px;height:800px;}
   .rd-1{height:60px;width: 1000px;}
   .rd-2{height:60px;width: 900px;display: inline-block;}
   .rd-3{width:66px;display: inline-block;}
   .rd-3>a{color:black;font-size: 17px;}
   .r{width:1000px;height:40px;border-top: 1px solid black;}
    .new-order-wrap{border: 1px solid #bebebe;height: auto;width: 1000px;margin: auto;padding-top: 1px;}
    .new-order{width: 938px;border: 30px solid rgb(243, 243, 243);height: auto;display: inline-block;}
    .new-order-info{width: 890px;border-bottom:1px solid rgb(243, 243, 243);
        height: 40px;padding-top: 20px;padding-left: 20px;margin-left: 13px;}
    .new-order-info>ul>*{font-size: 16px;}
    .new-order-title{width:890px ;height: 30px;display: inline-block;padding-left: 30px;}
    .new-order-title>p{font-size: 20px; }
    

    /*  반복시킬 부분*/
    .rd-pro-list{width:914px;border-bottom: 1px solid #bebebe;margin: auto;
                height: 300px;text-align: center;display: table;}
    .rd-pro-list>div{display:table-cell;font-size: 20px; text-align: center;vertical-align: middle;}
    .rd-pro1{border:1px solid  250px;display: inline-block}
    .rd-pro2{width:220px;display: inline-block}
    .rd-pro3,.rd-pro4{width: 120px;}
    .pro{height: 60px;  display: inline-block; margin: auto;}

    /**  rd dashboard***/
    .rd-dashboard{ width: 900px;height: 250px; }
    .rd-dashboard-outer{width: 900px;height: 200px;display:table;display:block;}
    .rd-dashboard-outer>div{display: table-cell}
    .t1{width: 900px ;height: 50px; font-size: 17px;display: inline-block}
    .t1>p{float: right;padding-top: 20px;padding-right: 25px;}
    .t2{width:590px;height: 150px;display: inline-block;}
    .point{height: 75px;margin: auto;padding: 0;}
    .point>div{height:75px;width: 150px;}
    .price{width: 200px;height: 75px;margin: auto;margin-top: 5px;}
    .price>div{width:200px; height: 75px;}
    .point1{font-size: 19px;}
    .price1>p{font-size: 24px;}
    .point2>p{ font-size: 24px;padding-left: 110px;}
    .price2>p{font-size: 30px;font-weight: bold;padding-left: 50px;padding-top: 5px;}





