
        /*테이블초기화*/
        table{border-spacing: 0; border-style:none; padding:0}
        
        /* 마이페이지 */
        #mypage{width:1000px; height:auto;  margin: 0 auto; padding-bottom: 100px;}
        .title{font-size:40px}
         /*마이페이지 info*/
        #mypage_info{width:100%; height:130px; border-top:1px solid #bebbb6; border-bottom: 1px solid #bebbb6; box-sizing: border-box;}
        #mypage_info div{float:left; height:inherit; }
        #mypage_info .user_info{display:inline-block; }
        #mypage_info .detail_info2>a{font-style: italic; font-weight: 700;}
        #mypage_info .user_info .user_photo{border:none;}
        #mypage_info .user_info .detail_tb{width:100%; height:80%}
        #mypage_info .user_info .detail_tb .d1{font-weight:700; text-align: left; }
        #mypage_info .user_info .detail_tb .d1#usergrade{font-size:10px}
        #mypage_info .user_info .detail_tb .d1>td{padding-top:30px; padding-bottom: 0;}
        #mypage_info .user_info .detail_tb .d2 a{
            float:left;padding:5px 15px; border: 1px solid #bebbb6; border-radius: 50px; font-size:15px;
        }
        /*적립포인트 할인쿠폰 위시리스트 바로보기*/
        #mypage_info .detail_info2{width:150px; height:130px; border-right:1px solid #bebbb6;}
        #mypage_info div .info_th{padding-top:25px; }
        #mypage_info div p{line-height: 43px;}


        /*마이페이지 tab메뉴*/
        #mypage_tab{width:100%; height:195px; margin: 0 auto;}
        #mypage_menu_tab{width:100%; height:195px;}
        #mypage_menu_tab>a{
            cursor: pointer;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border:1px solid #939393;
            float:left; text-align: center; line-height: 60px; 
            margin-top:80px; 
            margin-bottom:50px; height:60px; 
            width:200px; background-color: #bebbb6;
            box-sizing: border-box;
            font-size: 18px;
            color:white;
            border-bottom:none;
        }
        #mypage_menu_tab>a:hover:not(.active){
            transform: translateY(-5px);
            display: inline-block;
            border-color:#ac8b5a;
            background-color: #d6ae71;
            color:white
        }
        /*선택되어있을때*/
        #mypage_menu_tab>a.active{background:white; color:#333333; transform: translateY(-5px);}
        #mp_con1{text-align:left; width:100%; }
        .adtitle1>p{padding-left:20px; padding-bottom:10px; font-size: 32px;}

        /*테이블*/
        #mypage_table{width:1000px; height:auto; font-size: 18px; color:#333333; text-align:center}
        #mypage_table th{border-bottom:2px solid #bebebe;  border-top: 1px solid #bebebe; padding: 10px 0;}
        #mypage_table td{border-bottom:1px solid #bebebe; height: 80px;}

        /*버튼*/
        .btn_review{background: white; border: 1px solid #bebebe; border-radius: 5px; padding: 10px 15px}
        .btn_review:hover{
            cursor: pointer;
            border-color:#ac8b5a;
            background: #d6ae71;
            color:white;
        }

        /* 1:1 문의 */
        .mp-qna-title{height: 48px;width: 1000px;}
        .mp-qna-title>p{font-size: 32px;}
        .mp-qna-title1{display: inline-block;width: 1000px;height: 35px;}
        .mp-qna-title2{display: inline-block;width: 900px;height: 35px;margin: auto;}
        .mp-qna-title3{display:inline-block;}
        .mp-qna-title3>button{float:right; width:90px;height: 35px;border-radius: 5px;
                              color:white;background: rgb(127,127,127);margin: auto;
                                border:none;font-size: 16px;}
        #category{width:140px; }
        #title{width:400px;}
        #qna-date{width:180px;}
        #status{width:180px}
        #t{width: 100px;}
        #l{width:900px;display: inline-block;}
        #delete{width:90px;height: 35px;margin-top:7px;float: right;margin-right: 5px;}
        #delete>button{width: 90px;height: 35px;background: white;border-radius: 5px;}

        /*페이징 바*/
        .fagingarea{width:1000px;height: 340px;}
        .fagingvar{width: 1000px;height:35px;line-height: 18;}
     
        
        















        
       


