/* 폰트 초기화*/
body, input, textarea, select, button, table {
    font-family: 'Nanum Gothic',  'Noto Sans KR', 'Malgun Gothic','맑은 고딕', 'dotum','돋움',sans-serif; 
    color: #222; font-size: 18px; line-height: 1.5;} 
   

/* 아이디찾기완료, 비밀번호찾기완료 CSS페이지*/



.tabcontent{
    margin-right: 305px;
    margin-left: 305px;
}

table {
    width: 600px;
    height: 340px;
 
    padding:60px; 
    margin:0 auto;
    margin-top: 18px;
}
/*아이디표시 input*/
#userid {
    width:600px;
    height:60px;
    margin-bottom: 15px;
}

/* 로그인 Buttom */
.login{width:600px; height:60px; margin-bottom:30px; background-color:rgb(224, 224, 224); color:rgb(63, 62, 62); 
        font-size: 18px;
}

/* 아이디발송요청 Buttom*/
.userid_request{
    width:600px;
    height:60px;
    margin-top: 25px;
    margin-bottom: 150px;
    background-color:rgb(224, 224, 224);
    color:rgb(63, 62, 62);
    font-size: 18px;
}

/* 임시비밀번호 재발급 Button*/
.password2{
    width:600px;
    height:60px;
    font-size:20px;
    color:black;
    background-color: rgb(224, 224, 224);
    margin:0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
} 

