<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--부트스트랩 시작-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!--부트스트랩 끝-->
    <script src=" http://code.jquery.com/jquery-latest.min.js" language="javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="css/admin_common.css" rel="stylesheet">
    
    <script>
        $(function(){
            $(".click").click(function(){
                // $(this).next().slideDown();

                //클릭시 다음요소가 display: none인지
                //display: block 인지 판단해서 slideUp /slideDown 적용 

                var p = $(this).next();
                console.log(p);
                //css("속성명") : 속성명만 제시하면 해당 요소의 속성값을 리턴한다.
                if(p.css("display") == "none"){
                    //열려 있는 답변이 무었인지 모르니 형제관계p를 전부닫는다.
                $(".deep").slideUp();
                    p.slideDown();                    
                }else{
                    p.slideUp();                    
                }
            });
        });
    </script>
    <style>
        table * {padding: 5px; font-size: 18px; margin: auto;}
        table th{text-align: center;}
        .outer p{margin-top: 30px; margin-bottom: 30px; font-size: 30px; font-weight: bold;}        
        table th{width: 100px;}
        table tr:first-child{border-top: 1px solid lightgray ;}
        table tr{border-bottom: 1px solid lightgray ;}
    </style>
</head>
<body>
    <div class="modal" id="myModal">
        <div class="modal-dialog" style="position: relative;">
          <div class="modal-content" style="width:150px; position:absolute; left: 700px; top:50px" >
    
            <!-- Modal footer -->
            <div class="modal-footer" >
              <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:150px">로그아웃</button>
            </div>
      
          </div>
        </div>
      </div>
    <div id="wrap">
        <div id="header" >
            <div class="h1" >
                <p style="margin: 0px; padding-top: 10px; font-size: 25px; color:white;">TeaSpoon</p>
                <p style="margin: 0px; padding-bottom: 10px; font-size: 40px; color:white;">Admin</p>
            </div>
            <div class="h2">
            </div>
            <div class="h3"><img class="btn1" data-toggle="modal" data-target="#myModal" src="관리자아이콘.png"></div>
        </div>
        <div id="side">
            <ul>
            <br>
            <li class="c-li"><p class="click" style="margin: 0 0;">회원관리</p>
            <ul class="deep">
                <li><a href="adminStatus.html">회원현황</a></li>
                <li><a href="adminLevel.html">회원등급관리</a></li>
                <li><a href="admin112.html">신고목록</a></li>
                <li><a href="adminCoupon.html">쿠폰관리</a></li>
                <li><a href="adminOneOnOne.html">1:1문의</a></li>
            </ul>
            </li>
            <br>
            <li class="c-li"><p class="click" style="margin: 0 0;" >상품관리</p>
            <ul class="deep">
            <li><a href="adminStore.html">상품수정/삭제/등록</a></li>
            <li><a href="adminReview.html">상품리뷰</a></li>
            </ul>
            </li>
            <br>
            <li class="c-li"><p class="click" style="margin: 0 0;" >주문관리</p>
            <ul class="deep">
            <li><a href="adminOder.html">주문/취소/반품</a></li>
            </ul>
            </li>
            <br>
            <li class="c-li"><p class="click" style="margin: 0 0;" >게시판관리</p>
            <ul class="deep">
            <li><a href="adminNotice.html">공지사항</a></li>
            <li><a href="adminEvent.html">이벤트</a></li>
            <li><a href="adminAbout.html">어바웃티스푼</a></li>
            <li><a href="adminMagazine.html">매거진</a></li>
            </ul>
            </li>
            <br>
            <li class="c-li"><p class="click" style="margin: 0 0;" >대관관리</p>
            <ul class="deep">
            <li><a href="adminReservation.html">대관현황</a></li>
            <li><a href="adminGoods.html">비품관리</a></li>
            </ul>
            </li>
            <br>
            </ul>
        </div>
        <div id="contents">
            <div id="c1" >
                <div class="outer">
                    <p>공지 수정</p>
                    <form id="insertForm" action="insert.th" method="post" enctype="multipart/form-data">
                        <table>
                            <tr>
                                <th width="100px">제목</th>
                                <td><input type="text" size="71px" name="title" required></td>
                            </tr>
                            <tr>
                                <th>상태</th>
                                <td><input type="radio" name="status" required> Y
                                    <input type="radio"  name="status" required> N
                                </td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td><textarea name="content" cols="70" rows="5" style="resize:none" required></textarea></td>
                            </tr>
                        <tr>
                            <th>썸네일</th>
                            <td style="height: 120px;">
                                <img id="titleImg" width="150">
                            </td>
                        </tr>
                        </table>
                        <br>
                        <div id="fileArea">
                            <input type="file" name="file1" id="file1" onchange="loadImg(this);">
                        </div>
                        <br>
                        <div class="btns">
                            <button type="button" style="width: 100px;"><a href="adminAbout.html">목록으로</a></button>
                            <button type="submit" style="width: 100px;">수정하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
		//이미지태그 클릭으로 파일 첨부할것임으로 깔끔하게 보이기위해 숨긴다.
		$(function(){
			$("#fileArea").hide();
		});
	
		//이미지 태그 클릭시 파일 첨부 버튼이 눌리게한다.
		$(function(){
			$("#titleImg").click(function(){
				
				//파일첨부 클릭이미지를 실행시킨다.	
				$("#file1").click();
				
			});
		});
		
	
		function loadImg(inputFile){
			// inputFile : 현재 변화가 생긴 input type="file" 요소
			
			// [참고] https://developer.mozilla.org/ko/docs/Web/API/FileReader
			
			//file이 존재할 경우 --> inputFile요소의 files속성인 배열의 0번 인덱스에  파일이 담김
			if(inputFile.files.length == 1){
				// 파일을 읽어들일 FileReader 객체생성
				var reader = new FileReader();
				
				//파일을 읽어주는 메소드 --> 해당 파일을 읽어들이는 순간 해당 파일만의 고유한 url부여
				reader.readAsDataURL(inputFile.files[0]);
				
				//파일 읽기가 완료 되었을때 실행할 메소드
				// e : 현재 이벤트가 발생한 이벤트객체
				reader.onload = function(e){
					$("#titleImg").attr("src", e.target.result);
					}
				};
					
			};
			
		
	</script>
</body>
</html>