<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--부트스트랩 시작-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!--부트스트랩 끝-->
    <script src=" http://code.jquery.com/jquery-latest.min.js" language="javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="css/admin_common.css" rel="stylesheet">
    
    <script>
        $(function(){
            $(".click").click(function(){
                // $(this).next().slideDown();

                //클릭시 다음요소가 display: none인지
                //display: block 인지 판단해서 slideUp /slideDown 적용 

                var p = $(this).next();
                console.log(p);
                //css("속성명") : 속성명만 제시하면 해당 요소의 속성값을 리턴한다.
                if(p.css("display") == "none"){
                    //열려 있는 답변이 무었인지 모르니 형제관계p를 전부닫는다.
                $(".deep").slideUp();
                    p.slideDown();                    
                }else{
                    p.slideUp();                    
                }
            });
        });
    </script>
    <style>
        .searchBtn:hover, #detailViewBtn:hover{border-color:#ac8b5a; background-color: #d6ae71; color: white;} 
        .dropdown button, #search{background-color: white; color:black; border: 1px solid lightgray; font-size: 15px; width: 140px; height: 40px; border-radius: 5px;}
        .dropdown button:hover, #search:hover{border-color:coral; background-color: lightcoral; color: white;}
        #oneToOneKinds input{margin-right: 5px; vertical-align: middle;}
        table tr{border-bottom: 1px solid lightgray;}
        table tr:first-child{border-top: 1px solid lightgray;}
        table th{background-color: #dbdbdb;}
        #c1_2 div{float: left;}
    </style>
</head>
<body>
    <div class="modal" id="myModal">
        <div class="modal-dialog" style="position: relative;">
          <div class="modal-content" style="width:150px; position:absolute; left: 700px; top:50px" >
    
            <!-- Modal footer -->
            <div class="modal-footer" >
              <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:150px">로그아웃</button>
            </div>
      
          </div>
        </div>
      </div>
    <div id="wrap">
        <div id="header" >
            <div class="h1" >
                <p style="margin: 0px; padding-top: 10px; font-size: 25px; color:white;">TeaSpoon</p>
                <p style="margin: 0px; padding-bottom: 10px; font-size: 40px; color:white;">Admin</p>
            </div>
            <div class="h2">
            </div>
            <div class="h3"><img class="btn1" data-toggle="modal" data-target="#myModal" src="관리자아이콘.png"></div>
        </div>
        <div id="side">
            <ul>
            <br>
            <li class="c-li"><p class="click" style="margin: 0 0;">회원관리</p>
            <ul class="deep">
                <li><a href="adminStatus.html">회원현황</a></li>
                <li><a href="adminLevel.html">회원등급관리</a></li>
                <li><a href="admin112.html">신고목록</a></li>
                <li><a href="adminCoupon.html">쿠폰관리</a></li>
                <li><a href="adminOneOnOne.html">1:1문의</a></li>
            </ul>
            </li>
            <br>
            <li class="c-li"><p class="click" style="margin: 0 0;" >상품관리</p>
            <ul class="deep">
            <li><a href="adminStore.html">상품수정/삭제/등록</a></li>
            <li><a href="adminReview.html">상품리뷰</a></li>
            </ul>
            </li>
            <br>
            <li class="c-li"><p class="click" style="margin: 0 0;" >주문관리</p>
            <ul class="deep">
            <li><a href="adminOder.html">주문/취소/반품</a></li>
            </ul>
            </li>
            <br>
            <li class="c-li"><p class="click" style="margin: 0 0;" >게시판관리</p>
            <ul class="deep">
            <li><a href="adminNotice.html">공지사항</a></li>
            <li><a href="adminEvent.html">이벤트</a></li>
            <li><a href="adminAbout.html">어바웃티스푼</a></li>
            <li><a href="adminMagazine.html">매거진</a></li>
            </ul>
            </li>
            <br>
            <li class="c-li"><p class="click" style="margin: 0 0;" >대관관리</p>
            <ul class="deep">
            <li><a href="adminReservation.html">대관현황</a></li>
            <li><a href="adminGoods.html">비품관리</a></li>
            </ul>
            </li>
            <br>
            </ul>
        </div><div id="contents">
            <div id="c1" style="margin-top: 20px;">
                <div id="c1_1">
                    <div id="c1_1_1">
                        <div id="c1_1_1_1"><img src="회원현황아이콘.png" width="50px" ></div>
                        <div id="c1_1_1_2"><p>현재활동중인회원입니다.</p></div>
                        <div id="c1_1_1_3">
                            <input type="text" placeholder="아이디" name="idName">
                            <button type="button" class="searchBtn" id="btn">검색</button>
                        </div>
                    </div>
                    <div id="c1_1_2">
                        <table>
                            <tbody>
                                <tr>
                                    <th>회원번호</th>
                                    <th>아이디</th>
                                    <th>회원명</th>
                                    <th>연락처</th>
                                    <th>생년월일</th>
                                    <th>회원등급</th>
                                    <th>가입일</th>
                                    </tr>
                            </tbody>
                           
                              <tfoot>
                                  <tr>
                                        <td>001</td>
                                        <td>user01</td>
                                        <td>홍길동</td>
                                        <td>010-5555-2222</td>
                                        <td>650510-2xxxxx</td>
                                        <td>골드</td>
                                        <td>2020.01.11</td>
                                      </tr>
                                    <tr>     
                                        <td>001</td>
                                        <td>user01</td>
                                        <td>홍길동</td>
                                        <td>010-5555-2222</td>
                                        <td>650510-2xxxxx</td>
                                        <td>골드</td>
                                        <td>2020.01.11</td>
                                        </tr>
                                        <tr>
                                            <td>001</td>
                                            <td>user01</td>
                                            <td>홍길동</td>
                                            <td>010-5555-2222</td>
                                            <td>650510-2xxxxx</td>
                                            <td>골드</td>
                                            <td>2020.01.11</td>
                                            </tr>
                                            <tr>
                                                <td>001</td>
                                                <td>user01</td>
                                                <td>홍길동</td>
                                                <td>010-5555-2222</td>
                                                <td>650510-2xxxxx</td>
                                                <td>골드</td>
                                                <td>2020.01.11</td>
                                                </tr>
                                                <tr>
                                                    <td>001</td>
                                                    <td>user01</td>
                                                    <td>홍길동</td>
                                                    <td>010-5555-2222</td>
                                                    <td>650510-2xxxxx</td>
                                                    <td>골드</td>
                                                    <td>2020.01.11</td>
                                                    </tr>
                              </tfoot>
                             
                      </table>
                    </div>
                </div>
                <div id="c1_2">
                    <div class="dropdown"style="padding-right:10px">
                        <button type="button1" class="btn btn-primary dropdown-toggle btn1" data-toggle="dropdown">
                         회원상태별분류
                        </button>
                        <div class="dropdown-menu dm1">
                          <a class="dropdown-item" href="#">전체회원</a>
                          <a class="dropdown-item" href="#">활동중인회원</a>
                          <a class="dropdown-item" href="#">휴면회원</a>
                          <a class="dropdown-item" href="#">블랙리스트</a>
                        </div>
                      </div>
                      <div class="dropdown" style="padding-right:10px">
                        <button type="button2" class="btn btn-primary dropdown-toggle btn2" data-toggle="dropdown">
                         회원등급별분류
                        </button>
                        <div class="dropdown-menu dm2">
                          <a class="dropdown-item" href="#">전체등급</a>
                          <a class="dropdown-item" href="#">VIP</a>
                          <a class="dropdown-item" href="#">골드</a>
                          <a class="dropdown-item" href="#">실버</a>
                          <a class="dropdown-item" href="#">브론즈</a>
                        </div>
                      </div>
                      <div class="search">
                        <button type="button" id="search" >검색</button>
                      </div>
                     
                </div>
                <div id="c1_3">
                    <a>&lt;</a>
                   <button>1</button>
                   <button>2</button>
                   <button>3</button>
                   <button>4</button>
                   <button>5</button>
                   <a>&gt;</a>

                </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function(){
            //select의 값이 변경될때마다 작동
            $(".dm1>.dropdown-item").click(function(){
                
                //val("값") 이렇게 값을 넣으면 벨류값을 변경하고 val()이렇게 실행만할시 이미 들어있느 벨류값을 가져온다.
                value = $(this).text();
                console.log(value);
                $(".btn1").text(value);
            });
            $(".dm2>.dropdown-item").click(function(){
                
                //val("값") 이렇게 값을 넣으면 벨류값을 변경하고 val()이렇게 실행만할시 이미 들어있느 벨류값을 가져온다.
                value = $(this).text();
                console.log(value);
                $(".btn2").text(value);
            });
        });
    </script>
</body>
</html>