/*전체레이아웃*/
a{text-decoration: none; color: black;}
#wrap {text-align: center; font-size: 30px; color: #000000;}
#content {line-height: inherit; background: #ead5ee;}
.contaniner {width: 1200px; margin: 0 auto; height: inherit;}
.contaniner  #head_title{ color: black; font-size: 45px; font-weight: bold;}
.p1 {margin-left:50px; margin-right:50px;}
.fr {float:right}

#productArea {height:inherit; margin: 0 100px;}
#productList>div { margin-top:50px; width:300px; height:250px; float:left}
#productList {color: white;}
 
 /*1등상품*/
 .product_top {position:relative; width: 520px; height: 450px; float: left; margin-top: 150px; box-sizing: border-box;}
 .product_top .product_img{width: 520px; height: 450px; position: absolute;}
 .product_top .product_detail{
     width: 340px;
     height: 70px;
     background-color:black; 
     font-size:25px; 
     top:70%; 
     text-align: left;
     padding-top:15px;
     padding-left: 10px;
     padding-right: 170px;
     padding-bottom: 15px;
     position: absolute;
     opacity:0;
 }
 .product_top .like_icon {width:70px; height:70px; cursor: pointer;}
 .product_top .like {top:73%; left:340px; position: absolute; opacity:0; z-index:1;}
 .product_top #open {width: 70px; height:70px;}
 .product_top .basket {top:73%; left:420px; position: absolute; opacity:0; z-index:1;}
 .product_top:hover .product_detail {opacity:1;}
 .product_top:hover .basket {opacity: 1;}
 .product_top:hover .like {opacity:1;}

 .top_list {width: 400px; height: 450px; float: left; margin-top: 160px; margin-left: 50px; }
 .top_list table{ margin-left: 50px; color: black; padding-top: 45px;}
 .top_list table>caption{font-size: 30px;}
 .top_list table td, .top_list table tr{font-size: 25px;}
 .top_list a {color: black; padding-left: 50px;}
 .top_list td{text-align: left;}
 
 /*상품개별*/
 .product {position:relative; box-sizing: border-box;}
 #productList .product_img{width:100%; height: 100%; position: absolute; }
 .product .product_detail{
     background-color:black; 
     font-size:15px; 
     top:70%; 
     text-align: left;
     padding-top:10px;
     padding-left: 10px;
     padding-right: 170px;
     padding-bottom: 10px;
     position: absolute;
     opacity:0;
 }
 .product:hover .product_detail {opacity:1;}
 .product .like_icon {width:50px; height:50px; cursor: pointer;}
 .product .like {top:72%; left:180px; position: absolute; opacity:0; z-index:1;}
 .product:hover .like {opacity:1;}

 .product #open {width: 50px; height:50px; cursor: pointer;}
 .product .basket {top:72%; left:240px; position: absolute; opacity:0; z-index:1;}
 .product:hover .basket {opacity: 1;}

 /*Pagination*/
 #paging {float:left; width:100%; height:50px; margin-top:50px;}

 .pagination {
     display: inline-block;
     vertical-align: middle;
 }

 .pagination a {
     border-radius: 50%;
     color: black;
     padding: 8px 20px;
     text-decoration: none;
     transition-duration: 0.4s;
 }
 .pagination a.active {
     background-color: rgb(252, 216, 151);
     color: black;
     border-radius: 55%;
 }
 .pagination a:hover:not(.active) {
     background-color: rgb(252, 216, 151);
     border-radius: 55%;
 }

 /*장바구니 버튼 팝업 css*/
 .modal{
     background-color:white;
     border: 2px solid lightgrey;
     text-align: center;
     font-weight: bold;
     border-radius: 5px;
     font-size: 14px;
     position: absolute;
     width: 250px;
     height: 120px;
     display: none;
     margin-top: 60px;
     margin-left: 25px;
     z-index: 1;
 }
 .modal_content{
     color: black;
     margin-top: 20px;
     padding: 5px;
     width: 200px;
     height: 100px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }
 .gobasket,.close{
     border-radius: 5px;
     border: 1px solid lightgray; 
     background-color: white; 
     font-size: 14px;
     width: 100px;
     height: 40px;
     float: right;
 }
 .gobasket:hover,.close:hover{
     border-color:#ac8b5a; 
     background-color: #d6ae71; 
     color: white;
 }
 
 