
.p_explain2 hr, .p_explain3 hr{width: 200px;}

/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form {margin: 0; padding: 0;}

/* a 링크 초기화 */
a {color: #333; text-decoration: none;}
a:hover {color:#d6ae71;}

/* 폰트 초기화 */
body, input, textarea, select, button, table {
font-family: 'Nanum Gothic',  'Noto Sans KR', 'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif; 
color: #222; font-size: 18px; line-height: 1.5;}

/*전체레이아웃*/
a{text-decoration: none; color: black;}
#wrap {text-align: center; font-size: 30px; color: #000000;}
#header {height: 140px; line-height: 140px; background: #ffe1e4;}
#content {line-height: inherit; background: #ead5ee;}
#footer {height: 220px; line-height: 220px; background: #d6ebfd;}
.contaniner {width: 1200px; margin: 0 auto; height: inherit; /*background: rgba(0,0,0,0.3);*/}
.contaniner  #head_title{ color: black; font-size: 45px; font-weight: bold;}
#content1 {width:100%; height:2300px;background: #ffffff; }
#productArea {height:inherit; margin: 0 100px;}
.p1 {margin-left:50px; margin-right:50px;}
.fr {float:right}
