/* notice */
#content7{width: 100%; height: 50px; background: lightgrey;}
#notice{ text-align: left; width: 1200px;}
#notice td{padding-top: 10px; padding-left: 15px;}
#notice td .rg{padding-left:80px}
#notice table a:hover{color:#222}

 /* footer css */
#foot{width:1200px; float:left;}
#foot .ft_logo{float: left; width:230px; padding: 85px 0px; margin:0;}
#foot .ft_content{width: 750px; float: left; font-size: 15px; text-align: left; margin-top:35px; padding-left: 15px;}
#foot .ft_content>p{margin-top:15px}
#foot .ft_content>ul>li{float:left;list-style: none; padding-left:45px}
#foot .ft_content a{color:#333; font-weight: 500;}
#foot .ft_quick{float:left; width:205px; text-align: right; margin-top:35px;}