  /* 형제 바로 다음요소 선택자  */
  #navi>li>a:hover+ul{ display:block; }
  #navi>li>ul:hover{display:block;}
  
/* navigator css */
#header>#header_wrap>div{float:left; height:100%;}
#header_1{width:256px; position:relative;}
#home-logo{margin:auto;  width:256px; height:90px; margin-top: 5px;}
#header_2{width: 714px; height:inherit; position:relative;}
#header_3{float: left; width:230px; height:inherit;}
#header_3 img{float: left; margin: 0px 15px; height:45px; padding-top: 30px;}
#header_3 img{width:40px;height:40px}

#navi{ list-style-type:none; width: 100%; height:100%; }
#navi .store{margin: 0 40px;}
#navi .recommend{margin: 0 32px;}
#navi .event{margin: 0 32px;}
#navi .about{margin: 0 30px;}
#navi .rent{margin: 0 32px;}
#navi>li{
        position: relative; float: left; font-weight: 600;
        font-size: 19px; height:115px; text-align: center; line-height: 80pt;
        }
#navi>a{display:block;}
#navi>li>ul{position:relative; top:0px; width:100%; display: block; display:none; list-style-type: none; background:rgba(255, 255, 255, 0.5)}
#navi>li>ul>li{line-height:30px; font-size:16px; font-weight: normal; padding: 10px 0; font-weight: 900; }
#navi>li>ul>li:hover{font-weight:bold; color:black}

/* 공백 후손 선택자  */
#navi>li>a{
    display: block;
    height:100%;
}
#header_mypage{position: relative; width:230px; }
#header_mypage>img{display:block; }
#header_mypage>ul{position: absolute; top: 115px; width:230px; background: #fff; box-shadow: 0px 10px 10px 10px rgba(144, 144, 144, 0.1)}
#header_mypage>ul>li{display:block; font-size:20px; list-style-type: none; height:45px; border-bottom: 1px solid rgb(212, 212, 212); padding-top:15px}
#header_mypage>ul>li:hover{ font-size:20px; background:rgb(101, 100, 96);  font-weight:600; color:#fff }
#header_mypage>ul #login{width:210px; height:35px; border-radius: 5px; background: #fff; border:1px solid rgb(190, 190, 190)  }
#header_mypage>ul #login_li:hover{background:#fff}