/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form {margin: 0; padding: 0;}

/* a 링크 초기화 */
a {color: #333; text-decoration: none;}
a:hover {color:#d6ae71;}

/* 폰트 초기화 */
body, input, textarea, select, button, table {
    font-family: 'Nanum Gothic',  'Noto Sans KR', 'Malgun Gothic','맑은 고딕', 'dotum','돋움',sans-serif; 
    color: #222; font-size: 18px; line-height: 1.5;}

/*전체레이아웃*/
#wrap {text-align: center;  color: black; color:#333;}
#header {width:100%; background-color: white; position: absolute; position:fixed;  z-index: 1000000; height: 115px; 
     box-shadow: 0px 10px 10px 0px rgba(144, 144, 144, 0.1);
        }
#header_wrap{ height:inherit; width:1200px; margin:0 auto; left: 0; right: 0; }
/*#banner{margin-top:87px}*/
#content {height:100%;}
#footer {width: 100%; height: 220px; }
.contaniner {width: 1200px; margin: 0 auto; height:100%; }
.nohover:hover{color:#222}

/* navigator css */
#header>#header_wrap>div{float:left; height:100%;}
#header_1{width:256px; position:relative;}
#home-logo{margin:auto; position:absolute 0 0 0 0; width:256px; height:90px; margin-top: 5px;}
#header_2{width: 714px; height:inherit; position:relative;}
#header_3{float: left; width:230px; height:inherit;}
#header_3 img{float: left; margin: 0px 15px; height:45px; padding-top: 30px;}
#header_3 img{width:40px;height:40px}

#navi{ list-style-type:none; width: 100%; height:100%; }
#navi .store{margin: 0 40px;}
#navi .recommend{margin: 0 32px;}
#navi .event{margin: 0 32px;}
#navi .about{margin: 0 30px;}
#navi .rent{margin: 0 32px;}
#navi>li{
        position: relative; float: left; font-weight: 600;
        font-size: 19px; height:115px; text-align: center; line-height: 80pt;
        }
#navi>a{display:block;}
#navi>li>ul{position:relative; top:0px; width:100%; display: block; display:none; list-style-type: none; background:rgba(255, 255, 255, 0.5)}
#navi>li>ul>li{line-height:30px; font-size:16px; font-weight: normal; padding: 10px 0; font-weight: 900; }
#navi>li>ul>li:hover{font-weight:bold; color:black}
/* 공백 후손 선택자  */
#navi>li>a{
    display: block;
    height:100%;
}
#mypage{position: relative; width:230px; }
#mypage>img{display:block; }
#mypage>ul{position: absolute; top: 115px; width:230px; background: #fff; box-shadow: 0px 10px 10px 10px rgba(144, 144, 144, 0.1)}
#mypage>ul>li{display:block; font-size:20px; list-style-type: none; height:45px; border-bottom: 1px solid rgb(212, 212, 212); padding-top:15px}
#mypage>ul>li:hover{ font-size:20px; background:rgb(101, 100, 96);  font-weight:600; color:#fff }
#mypage>ul #login{width:210px; height:35px; border-radius: 5px; background: #fff; border:1px solid rgb(190, 190, 190)  }
#mypage>ul #login_li:hover{background:#fff}

/* 배너 타이틀 */
.title{font-size:40px}